[Unit]
Description=Subscription Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/sui-sync/subscription.py
Restart=always
User=root
WorkingDirectory=/opt/sui-sync

[Install]
WantedBy=multi-user.target
